@model ToolkitDemo.Models.Contact

<table>
    <tr>
        <td>
            From:
        </td>
        <td>
            @Model.From
        </td>
    </tr>
    <tr>
        <td>
            Subject:
        </td>
        <td>
            @Model.Subject
        </td>
    </tr>
    <tr>
        <td>
            Body:
        </td>
        <td>
            @Model.Body
        </td>
    </tr>
</table>