<?xml version="1.0" encoding="utf-8"?>
<View xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2014-02-18T09:47:58.0545988Z</LastUpdateDate>
	<EngineName>Razor</EngineName>
	<FileExtension>.cshtml</FileExtension>
	<UserName>admin</UserName>
	<DataRules>
		<DataRuleSetting>
			<DataName>city</DataName>
			<DataRule xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataRule" i:type="d4p1:HttpDataRule">
				<d4p1:ContentType></d4p1:ContentType>
				<d4p1:DataRuleType>Http</d4p1:DataRuleType>
				<d4p1:FormData xmlns:d5p1="http://schemas.datacontract.org/2004/07/Kooboo.Collections.Generic" />
				<d4p1:Headers xmlns:d5p1="http://schemas.datacontract.org/2004/07/Kooboo.Collections.Generic" />
				<d4p1:HttpMethod>GET</d4p1:HttpMethod>
				<d4p1:ResponseType>JSON</d4p1:ResponseType>
				<d4p1:URL>http://flash.weather.com.cn/wmaps/xml/{UserKey}.xml</d4p1:URL>
			</DataRule>
			<TakeOperation>List</TakeOperation>
			<CachingDuration>0</CachingDuration>
		</DataRuleSetting>
	</DataRules>
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Parameters />
</View>